.menu_icon_wrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    margin: 20px;
}

.menu_icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
}

.menu_icon::before {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 0;
    width: 30px;
    height: 5px;
    content: '';
    transition: transform .2s ease-in, top .2s linear .2s;
    background-color: #fff;
}

.menu_icon::after {
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 5px;
    content: '';
    transition: transform .2s ease-in, top .2s linear .2s;
    background-color: #fff;
}

.menu_icon.menu_icon_active {
    background-color: transparent;
}

.menu_icon.menu_icon_active::before {
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
    transform: rotate(45deg);
}

.menu_icon.menu_icon_active::after {
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
    transform: rotate(-45deg);
}

.menu_icon div {
    visibility: hidden;
    transition: all .5s ease-in-out;
    transform: translateX(-100%);
}

.menu_icon_active div {
    visibility: visible;
    transition: all .5s ease-in-out;
    transform: translateX(0);
}

.header {
    position: absolute;
    top: -35px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    background-color: rgba(18, 18, 18, .92);
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    margin-top: 50px;
}


