.titleBlock {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 5px;
    color: white;
}

.line {
    width: 55px;
    height: 1px;
    margin: 20px 0;
    background-color: #4e93e6;
}

@media screen and (max-width: 810px) {
    .titleBlock {
        font-size: 30px;
    }
}

@media screen and (max-width: 575px) {
    .titleBlock {
        font-size: 24px;
        margin-top: 10px;
    }
}
