.skill {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 120px;
    margin-bottom: 15px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    transform: rotate(45deg);
    background: rgba(255, 255, 255, .1);
}

.icon img {
    width: 85%;
    height: 85%;
    transform: rotate(-45deg);

    background: none;
}

.skillTitle {
    font-family: 'Montserrat-Regular', sans-serif;
    text-transform: uppercase;

    color: white;
}

@media screen and (max-width: 691px) {
    .skill {
        margin-top: 15px;
    }
}
