.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-top: 70px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 80px 0;
}

.greeting {
    font-family: 'Montserrat-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 20px;
}

.greeting span:nth-child(1) {
    font-size: 1.5em;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-size: 1.7em;
    font-weight: 700;
    font-stretch: normal;
    line-height: 1.2;
    position: relative;
    z-index: 0;
    letter-spacing: 5px;
}

.greeting span:nth-child(2) span:before {
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 18px;
    content: '';
    background-color: #4e93e6;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
}

.photo {
    position: relative;
    z-index: 1;
    transition: 500ms;
}

.photo:hover {
    transform: scale(1.1, 1.1);

}

.photo img {
    width: 250px;
    height: auto;
}

.photo:before {
    position: absolute;
    z-index: -1;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 105%;
    content: '';
    border: 4px solid #4e93e6;
}

@media screen and (max-width: 1063px) {
    .greeting span:nth-child(2) span:before {
        right: 0;
        width: 170%;
    }
}

@media screen and (max-width: 760px) {
    .main {
        min-height: 80vh;
    }

    .container {
        margin: 40px 0;
    }

    .photo img {
        width: 180px;
    }

    .greeting span:nth-child(1) {
        font-size: 1.3em;
    }

    .greeting span:nth-child(2) span {
        font-size: 1.4em;
        font-weight: 500;
    }

    .greeting span:nth-child(2) span:before {
        height: 13px;
        width: 192%;
    }
}

@media screen and (max-width: 630px) {
    .greeting span:nth-child(2) span:before {
        width: 170%;
    }
}

@media screen and (max-width: 597px) {
    .greeting span:nth-child(1) {
        font-size: 1.1em;
    }

    .greeting span:nth-child(2) span {
        font-size: 1.2em;
    }

    .greeting span:nth-child(2) span:before {
        width: 192%;
    }
}


@media screen and (max-width: 557px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .photo {
        margin-top: 30px;
    }

    .greeting span:nth-child(2) span:before {
        height: 11px;
        width: 214%;
    }
}

@media screen and (max-width: 375px) {
    .greeting span:nth-child(2) span:before {
        width: 190%;
    }
}

@media screen and (max-width: 333px) {
    .photo img {
        width: 150px;
    }

    .greeting span:nth-child(1) {
        font-size: 1em;
    }

    .greeting span:nth-child(2) span {
        font-size: 1.1em;
    }

    .greeting span:nth-child(2) span:before {
        height: 12px;
        width: 195%;
    }
}

