.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100vh;

  background-color: #1f1f20;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  width: 80%;
  height: 80%;

  border: 1px solid;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 40%;
  min-height: 200px;
}

input {
  width: 100%;
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
  form {
    width: 90%;
  }
}
