.slogan {
  height: 250px;
  background-color: #b8009b;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 80%;
  height: 80%;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

button {
  width: 20%;
  height: 30px;
}