.container {
  width: 40%;
  min-height: 500px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 50%;
  background-color: azure;
}

.description {
  width: 90%;
  height: 20%;
  border: 1px solid;
}