.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #252527;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    margin: 50px 0;
    width: 80%;
}

.social {
    display: flex;
    justify-content: space-between;

    width: 50%;
    margin-top: 60px;
}

.blockLink {
    width: 60px;
    height: 60px;

    border: 1px solid #4a4a4a;
    border-radius: 50%;
    transition: 0.5s;
    position: relative;
}

.blockLink:hover {
    border: 1px solid white;
}

.blockLink a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.blockLink a img {
    width: 60%;
}

.hint {
    visibility: hidden;
    position: absolute;
    bottom: 102%;
    right: -50%;
    padding: 8px 8px;
    background: #444;
    color: #fff;
}

.blockLink:hover .hint {
    visibility: visible;
}

.copyright {
    font-size: 15px;
    margin-top: 40px;
    opacity: .6;
    color: white;
}

@media screen and (max-width: 810px) {
    .social {
        width: 90%;
    }
}

@media screen and (max-width: 691px) {
    .social {
        margin-top: 40px;
    }
}

@media screen and (max-width: 455px) {
    .blockLink {
        width: 50px;
        height: 50px;
    }
}
